body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
input {
  border: none;
}
img {
  display: block;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.logo {
  width: 230px;
  height: 120px;
  background: url("img/logo.png") no-repeat;
  text-indent: -99999px;
}
.nav {
  margin: 35px 0 0 35px;
}
.nav {
  padding: 0 20px;
  background: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.nav li {
  float: left;
  line-height: 50px;
}
.nav li a {
  display: block;
  padding: 0 20px;
  font-size: 15px;
  color: #727272;
}
.nav li a:hover {
  color: #000;
}
.article {
  margin-bottom: 20px;
}
.article-cat {
  padding-left: 10px;
}
.article-cat a {
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  display: inline-block;
  padding: 0px 10px;
  border-bottom: transparent;
  background-color: #fff;
  font-size: 12px;
  color: #333;
  font-weight: bold;
}
.article-cont {
  padding: 15px 15px 15px 250px;
  background: #fff;
}
.article-left {
  margin-left: -235px;
  width: 220px;
}
.article-left .img-style {
  border: 1px solid #c8c8c8 9;
  -webkit-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
}
.article-left img {
  width: 220px;
  height: 160px;
}
.article-right h2 {
  font-weight: 600;
  padding-top: 5px;
  line-height: 30px;
  font-size: 18px;
}
.article-right h2 a {
  color: #555;
}
.article-right .meta {
  margin-bottom: 0px;
  line-height: 30px;
}
.article-right .meta span {
  font-size: 13px;
  padding-right: 20px;
}
.article-right .note {
  line-height: 1.7em;
  font-size: 14px;
}
.page .wrap {
  text-align: center;
}
.page li {
  display: inline-block;
}
.page li a {
  padding: 6px 12px;
  background: #fff;
  color: #646464;
}
.page li a:hover {
  background-color: #0177bf;
  color: #fff;
}
.page li a.active {
  background-color: #0177bf;
  color: #fff;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #258fb8;
}
.archives {
  background: #fff;
  padding: 10px 0;
}
.archives-list {
  margin-bottom: 10px;
}
.archives .date {
  padding-left: 20px;
  line-height: 35px;
  font-size: 22px;
  color: #555;
  font-weight: bold;
}
.archives-item {
  padding: 0 40px;
  padding-bottom: 5px;
}
.archives-item li {
  padding-left: 30px;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.archives-item li.title {
  padding-left: 10px;
  line-height: 30px;
  font-size: 20px;
  color: #666;
  font-style: italic;
}
.archives-item li.title strong {
  font-size: 14px;
}
.archives-item li a {
  color: #2c2f32;
  padding: 0 20px;
}
.archives-item li a:hover {
  color: #09f;
}
.archives-item li span {
  background: #666;
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  padding: 0 6px;
}
.archives-item li i {
  padding-right: 4px;
}
.footer {
  background: #fff;
  border-top: 1px solid #555;
  -webkit-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}
.footer .footer-wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
}
.footer h3 {
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  font-size: 16px;
  color: #555;
}
.collect-web {
  width: 40%;
}
.collect-web .wrap {
  padding-left: 24px;
}
.collect-web .wrap li {
  float: left;
  width: 25%;
  white-space: nowrap;
}
.collect-web .wrap a {
  color: #727272;
  font-size: 13px;
}
.about-web {
  width: 40%;
}
.about-web p {
  padding: 0 20px;
}
.subtitle {
  width: 20%;
  color: #000;
}
.subtitle h2 {
  padding-left: 20px;
  font-size: 30px;
  padding-top: 30px;
  text-shadow: 0 0 10px #000;
}
.subtitle p {
  color: #000;
  font-size: 16px;
  padding-left: 70px;
  text-shadow: 0 0px 4px #000;
}
.copyright {
  border-top: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
body {
  background: url("img/body-bg.jpg") repeat;
  line-height: 22px;
  color: #727272;
  font-size: 14px;
  font-family: "微软雅黑", "宋体";
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.content-shadow {
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px #646464;
  box-shadow: 0px 0px 5px #646464;
  border: 1px solid #ccc 9;
}
.content-wrap {
  width: 100%;
}
.content {
  margin-right: 320px;
}
.sidebar {
  width: 300px;
  margin-left: -300px;
}
.my-card {
  margin-bottom: 20px;
}
.banner {
  margin-bottom: 20px;
}
@media (max-width: 1180px) {
  .container {
    margin: 0 15px;
  }
}
.banner {
  width: 100%;
  height: 250px;
  background: url("img/banner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.banner-inner {
  padding: 70px 0 0 100px;
  top: 70px;
  left: 100px;
  z-index: 9999;
}
.banner-tit {
  font-size: 26px;
  margin-bottom: 10px;
  color: #fff;
}
.banner-typed p {
  width: 320px;
  color: #f0f0f0;
  display: none;
}
.subnav {
  margin-bottom: 20px;
}
.subnav ul {
  background: #fff;
  border-bottom: 4px solid #09f;
}
.subnav li {
  float: left;
}
.subnav li a {
  display: block;
  color: #000;
  padding: 10px 24px;
}
.subnav li.active a {
  background: #09f;
  color: #fff;
}
.article-wrap {
  position: relative;
  height: 1620px;
}
.article-wrap .article-list {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.topside {
  height: 90px;
  background: #fff;
  padding-left: 25px;
  margin-bottom: 20px;
}
.topside .title {
  padding: 20px 0 5px 0;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.topside p {
  font-size: 14px;
  color: #646464;
}
.share-nav {
  width: 15%;
}
.share-nav li {
  margin-bottom: 5px;
  background: #fff;
}
.share-nav li a {
  display: block;
  padding: 15px 0;
  text-align: center;
  color: #555;
}
.share-nav li.active a {
  background: #09f;
  color: #fff;
}
.share-wrap {
  width: 85%;
}
.share-cont {
  border-left: 4px solid #09f;
}
.share-cont li {
  text-align: center;
  padding: 20px 40px;
  margin-bottom: 20px;
  background: #fff;
}
.share-cont li h2 {
  color: #3d4450;
  font-size: 22px;
  line-height: 30px;
}
.share-cont li .meta {
  font-size: 12px;
  line-height: 40px;
}
.share-cont li .text {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  line-height: 21px;
  color: #666;
  text-align: left;
}
.share-cont .read-more {
  float: right;
  display: inline-block;
  padding: 5px 10px;
  background: #666;
  color: #fff;
}
.share-cont .read-more:hover {
  background: #09f;
  color: #fff;
}
.message {
  background: #fff;
  padding: 0 20px;
}
.message .title {
  padding: 10px 0 0 0;
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #09f;
}
.message .wrap {
  border-bottom: 1px solid #e6e6e6;
  padding: 0px 20px 10px 20px;
}
.about-me p {
  line-height: 28px;
}
.about-blog li {
  border-bottom: 1px dashed #e6e6e6;
}
.about-blog li h3 {
  line-height: 28px;
  font-size: 14px;
  color: #666;
}
.about-blog li h3 i {
  padding-right: 10px;
}
.about-blog li p {
  padding-left: 20px;
  padding: 0 0 10px 20px;
}
.about-blog .list {
  padding-left: 20px;
}
.about-blog .list dd {
  padding: 0 0 4px 0;
}
.menu li {
  line-height: 50px;
  border-bottom: 1px solid #eee;
}
.menu li a {
  display: block;
  padding-left: 20px;
  font-size: 16px;
  color: #727272;
}
.menu li.active a {
  background: #09f;
  color: #fff;
}
.search .text {
  width: 200px;
  outline: none;
  padding: 7px 0px 8px 8px;
  border: 1px solid #ddd;
  margin: 5px 1px 3px 0px;
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search .text:focus {
  -webkit-box-shadow: 0 0 5px #09f;
  box-shadow: 0 0 5px #09f;
  padding: 7px 0px 8px 8px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #09f;
}
.search .submit {
  border: 1px solid transparent;
  background: #09f;
  padding: 8px 10px;
  color: #fff;
}
.my-card {
  height: 250px;
  background: #fff;
}
.my-card h3 {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 22px;
  color: #555;
}
.my-card ul {
  padding-left: 30px;
}
.my-card ul li {
  line-height: 32px;
}
.my-card ol {
  padding: 14px 0 0 30px;
}
.my-card ol li {
  float: left;
  margin-right: 20px;
}
.my-card ol li a {
  position: relative;
  display: block;
  width: 40px;
  margin: 0 auto;
  padding: 3px 0;
  color: #727272;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #727272;
  text-align: center;
}
.my-card ol li p {
  position: absolute;
  left: -18px;
  bottom: -50px;
  background: #000;
  color: #fff;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 80px;
}
.my-card ol li p i {
  position: absolute;
  top: -17px;
  left: 31px;
  color: #000;
}
.recommend {
  background: #fff;
  margin-bottom: 20px;
}
.recommend-nav {
  position: relative;
  margin-bottom: 2px;
}
.recommend-nav li {
  float: left;
}
.recommend-nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #000;
  font-size: 15px;
}
.recommend-nav .active {
  height: 2px;
  background: #000;
  position: absolute;
  top: 40px;
}
.recommend-nav .active i {
  position: absolute;
  left: 30px;
  top: -10px;
}
.recommend-cont {
  position: relative;
  height: 315px;
}
.recommend-cont li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  height: 300px;
  width: 300px;
}
.recommend-cont dl {
  padding: 10px 15px;
}
.recommend-cont dl dd {
  line-height: 30px;
}
.recommend-cont dl dd:hover a {
  color: #000;
  -webkit-transition: All 1s ease;
}
.recommend-cont dl dd a {
  padding-left: 10px;
  color: #727272;
}
.recommend-cont dl dd span {
  color: #0177bf;
}
.recommend-cont dl dd span:before {
  content: "0";
  color: #0177bf;
}
.recommend-cont dl dd:nth-child(-n+3) a {
  position: relative;
  top: -4px;
}
.recommend-cont dl dd:nth-child(-n+3) strong {
  font-size: 30px;
  color: #0177bf;
}
.section {
  background: #fff;
  margin-bottom: 20px;
}
.section .title {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 15px;
  color: #2e2e2e;
}
.section .wrap {
  padding: 0 0 10px 20px;
}
.section .wrap li {
  float: left;
  width: 50%;
  height: 22px;
  line-height: 22px;
  margin-bottom: 8px;
}
.tag-cloud .wrap {
  margin-left: -10px;
}
.tag-cloud a {
  display: inline-block;
  padding: 4px 10px;
  color: #727272;
  font-size: 12px;
}
.tag-cloud a:hover {
  background: #0177bf;
  color: #fff;
}
.friend-link a {
  color: #777;
}
.web-count li {
  font-size: 13px;
}
.web-count strong {
  color: #555;
  font-weight: 700;
  font-size: 12px;
}
